.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #dcdfe6;
  border-radius: 12px;
  background: none;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}


.input:focus + span,
.input:not(:placeholder-shown) + span {
   top: -1.5rem;
  left: 1rem;
  font-size: 0.75rem;
  background: white;
  padding: 0 0.3rem;
  color: #007bff;
}

label span {
  position: absolute;
  left: 12px;
  top: -10px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
  background: transparent;
}
